<p class='msg'>
  <%= _('Do you have any videos, photos, audios files or other documents '\
        'that may help in the analysis of your denouncement?') %>
</p>

<p class='msg'>
  <%= _('If you do not want to add a media, click "Continue".') %>
</p>

<%= labelled_form_field(_('Add file'), file_field_tag(
      'denouncement_files[]', multiple: true, id: 'media-files')) %>

<div class="uploaded-list">

  <div class='image-list'>
    <h4><%= _('Uploaded images') %></h4>
    <div id='uploaded-files-image'>
      <div class="denouncement-item template" data-key data-type='image'>
        <div class='thumbnail-remove'></div>
        <a class='zoom-media'>
          <div class='thumbnail'></div>
        </a>
      </div>
    </div>
  </div>

  <%= render partial: 'denouncements_plugin_steps/media_list',
              locals: { title: _('Uploaded audios'), type: 'audio' }%>

  <%= render partial: 'denouncements_plugin_steps/media_list',
              locals: { title: _('Uploaded videos'), type: 'video' }%>

  <%= render partial: 'denouncements_plugin_steps/media_list',
              locals: { title: _('Uploaded documents'),
              type: 'undefined' }%>

</div>

<div>
  <p class='error-msg'><%= _('Invalid media file') %></p>
  <div class='errors-list'>
    <span id='file-duplicate-key'>
      <%= _('These files have already been added:') %>
      <ul>
        <li class='error-file template'></li>
      </ul>
    </span>
  </div>
</div>

<%= button_bar do %>
  <%= button :back, _('Go back'), '#', class: 'previous-step' %>
  <%= button :next, _('Continue'), '#', class: 'continue-btn' %>
<% end %>

<div id='show-image'>
  <img class='main-image' src>
</div>
