<% if @denouncement %>
  <table>
    <thead>
      <tr>
        <th><%= _("Protocol") %></th>
        <th><%= _("Date") %></th>
        <th><%= _("Status") %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @denouncement.protocol %></td>
        <td><%= show_date @denouncement.date %></td>
        <td><span class="<%= @denouncement.status.downcase %>"></span><%= @denouncement.status %></td>
      </tr>
    </tbody>
  </table>
<% else %>
  <%= _('Denouncement not found') %>
<% end %>
