#content #confirmation-page {
  p.msg {
    font-size: 14px;
    line-height: 18px;
  }

  .denouncement-info {
    padding: 5px;
    background-color: #eee;
    border-radius: 4px;

    .info-row {
      padding: 10px;
      display: flex;

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }

      .info-label {
        flex: 1;
        color: #777;
      }

      .info-value {
        flex: 1;
      }
    }
  }

  .tracking-link {
    margin: 20px 0;
    display: flex;
    justify-content: center;

    a.button.with-text {
      margin: 0;
      padding: 0;
      width: 200px;
      height: 35px;
      line-height: 35px !important;
      text-align: center;
      background: none;
      border-radius: 5px;
      border: 1px solid #5c6e84;
      color: #5c6e84;
      box-shadow: 1px 1px 3px #777;

      &:hover {
        background-color: #5c6e84;
        color: white;
      }
    }
  }
}

#confirmation-page .create-denouncement {
  padding: 0 16px;

  .button-bar {
    text-align: right;
    a.button {
      color: #fff !important;
      height: 35px;
      line-height: 35px !important;
      border: 1px solid #fbba00 !important;
      background-color: #fbba00 !important;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px !important;
    }
  }
}
