.happens-block {
  @media only screen and (max-width: 540px) { margin-bottom: 0px !important; }
  h3.block-title {
    color: #fff;
    background-color: #b7ce30;
    border-bottom: none !important;
    font-size: 22px !important;
    text-transform: uppercase !important;
    padding: 0 0 0 12px !important;
    @media only screen and (max-width: 540px) { margin-bottom: 0px !important; }
    span {
      display: flex;
      align-items: center;
      .more, .less {
        flex-grow: 1;
        text-align: right;
        > a {
          display: inline-block;
          color: #fff !important;
          background-color: #7b8c1a;
          padding: 8px 25px !important;
          i { margin: 0; }
        }
      }
    }


    .more {
      a.menu-toggle {
        font-size: 1.1em;
        margin: 0px;
      }

      .noosfero-dropdown-menu {
        margin-top: 42px;
        right: 0px;
      }
    }
  }
}
