.profile-description-block {
  text-align: left;
  h3.block-title {
    color: #fff;
    background-color: #4cc1ae;
    border-bottom: none !important;
    margin-bottom: 0px !important;
    text-transform: uppercase !important;
    padding: 0 0 0 12px !important;
    span {
      display: flex;
      align-items: center;
      .more, .back {
        flex-grow: 1;
        text-align: right;
        a {
          display: inline-block;
          color: #fff !important;
          background-color: #32a38f;
          padding: 8px 25px !important;
          i { margin: 0; }
        }
      }

      .back { display: none; }
    }
  }

  .profile-description, .another-profile-description {
    display: flex;
    padding-top: 10px;
    .profile-image {
      padding: 0 5px;
    }

    .profile-description-content {
      flex-grow: 3;
      padding: 0 10px;
      .profile-description-header {
        display: flex;
        .profile-info {
          flex-grow: 1;

          h2 { text-transform: uppercase; }
          h2, h3 {
            font-weight: 500;
            margin-top: 0;
            margin-bottom: 5px;
            padding-right: 5px;
            a { text-decoration: none; }
          }
        }

        .edit-profile {
          font-size: 22px;
          padding-top: 12px;
          i {
            margin: 0;
          }
        }
      }
    }

    p {
      font-size: 13px;
      margin-top: 0;
    }

  }

  .profile-actions {
    display: none;
    text-align: center;
    margin-top: 40px;
    .action {
      display: inline-block;
      vertical-align: top;
      width: 130px;
      text-align: center;
      margin-bottom: 10px;
      text-decoration: none;
      img.default-file {
        width: 64px;
        margin-bottom: 4px;
      }

      .action-title {
        color: #2fad97;
        font-size: 14px;
        font-weight: 800;
        text-transform: uppercase;
      }
    }
  }

  .button-bar { text-align: right; }
}

html:not(.myself):not(.profile-type-is-community):not(.action-search-communities) .profile-description-block {
  h3.block-title {
    span {
      .more { display: none; }
      .back { display: block; }
    }
  }

  .profile-description {
    background-color: #ecfaf8;
    padding-bottom: 10px;

    .profile-image {
      display: none;
    }

    .profile-description-content {
      flex-grow: 1;
      padding: 0 50px;
      @media only screen and (max-width: 540px) { padding: 0 10px; }
    }

    p {
      display: none;
    }
  }

  .profile-actions {
    display: block;

    .action {
      @media only screen and (max-width: 540px) {
        width: 80px;
        img.default-file { width: 48px; }
        .action-title {
          font-size: 12px;
        }
      }
      &:not(.current) { opacity: 0.6; }
      &.link-this-page, &.current { opacity: initial; }
    }
  }
}

body.controller-profile_editor.action-profile_editor-edit {
  .profile-description-block {
    display: none;
  }
}
