#content #new_step_form {

  a.button {
    color: #fff !important;
    width: 90px;
    height: 35px;
    line-height: 35px !important;
    border: 1px solid #fbba00 !important;
    background-color: #fbba00 !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px !important;
  }

  color: #505050;
  padding: 0px 16px;

  div.step-wrapper {
    &.past,
    &.future {
      display: none;
    }

    &.active {
      display: flex;
      flex-direction: column;
    }
  }

  input[type=text],
  textarea,
  select {
    background-color: #fff;
    padding: 10px;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0px 1px 3px #ccc;
    box-sizing: border-box;

    &:disabled, &.disabled {
      pointer-events: none;
      background-color: #ddd;
      font-style: italic;
    }
  }

  .toggleable-field input, .toggleable-select select {
    width: auto;
  }

  select {
    width: 100%;
  }

  label {
    font-size: 14px;
  }

  .button-bar {
    display: flex;
    justify-content: space-between;
    margin-top: auto;

    br {
      display: none;
    }

    a.button {
      width: 150px;
      height: 25px;
      line-height: 25px !important;
    }
  }

  a.button.with-text,
  input[type=submit],
  label[for='media-files'] {
    width: 150px;
    max-height: 35px;
    height: 35px;
    line-height: 35px !important;
    padding: 0;
    text-align: center;
    background: none;
    border-radius: 5px;
    border: 1px solid #5c6e84;
    color: #5c6e84;
    box-shadow: 1px 1px 3px #777;

    &:active, &:hover {
      background-color: #5c6e84;
      color: white;
    }

    &.icon-remove, &.icon-back {
      border-color: #a76c00;
      color: #a76c00;

      &:active, &:hover {
        background-color: #a76c00;
        color: white;
      }
    }
  }

  input[type=submit] {
    max-height: 37px;
    height: 37px;
    line-height: 37px !important;
  }

  textarea {
    height: 100px;
  }

  .error-msg {
    text-align: right;
    font-size: 14px;
    font-style: italic;
    color: #ca4717;
    transition: opacity 1s ease;
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }

  .error-msgs {
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px 0 20px;

    p.error-msg {
      margin: 0;
    }
  }

  p.msg {
    font-size: 16px;
    margin: 10px 0px;
  }

  .errors-list {
    display: none;
  }

  li.error-file {
    list-style: none;
    color: #777;
    font-style: normal;
    font-size: 0.9em;

    &.template {
      display: none;
    }
  }

  div.field-row {
    display: flex;

    a.current-location {
      margin: 0;
      margin-left: 4px;
      height: 25px;
      line-height: 25px !important;
      width: 25px;
      display: flex;
      justify-content: center;
      border-radius: 50%;
    }
  }

  .description-msg {
    margin-top: 30px;
  }
}

#identification-step {
  #identification {
    max-width: 300px;
    margin: 40px auto 0;

    .actions {
      display: flex;
      justify-content: space-around;
      padding-top: 10px;

      a.button {
        width: 90px;
        height: 35px;
        line-height: 35px !important;
        border: 1px solid #fbba00;
        background-color: #fbba00;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px !important;
      }
    }

    p.msg {
      text-align: center;
    }
  }

  div.local-profile-guide {
    margin-top: 10px;
  }

  div.fields {
    margin: 20px 0 10px;
  }

  p.msg {
    font-size: 16px;
  }

  .identification-form, #cancelled-identification {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.hidden {
      display: none;
    }
  }

  #socioeconomic-data {
    label { display: block; margin-top: 8px; }
    .check-box-container {
      label { display: inline-block; }
      &:last-child { margin-bottom: 10px; }
    }
  }
}

#content #victims-step {
  p.msg.victim-author-msg,
  p.msg.not-victim-msg {
    display: none
  }
}

#content #victims-step,
#content #offender-step,
#content .uploaded-list {
  .inline-form-list {
      border: 1px solid #eee;
      border-top: none;
      border-bottom: none;

    .denouncement-item {
      display: flex;
      font-size: 14px;
      padding: 15px 10px 10px;

      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }

      &:nth-child(odd) {
        background-color: #f9f9f9;
      }

      &.template,
      .offender-relationship-parent {
        display: none;
      }

      .fields {
        flex-grow: 1;
      }

      .actions {
        margin-left: 10px;
        display: flex;

        .icon {
          display: inline-block;
          width: 16px;
          height: 16px;
          border: none;
        }

        a.button {
          border: none;
          background-color: transparent;
        }

        .remove-victim, .remove-offender {
          text-align: center;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-decoration: none;
          color: #212e3c;
        }
      }
    }
  }

  .inline-form {
    padding: 0 10px;

    a.button.with-text {
      display: block;
      width: fit-content;
      width: -moz-fit-content;
      padding: 15px 10px !important;
      height: fit-content;
      height: -moz-fit-content;
      line-height: inherit !important;
      margin-top: 10px;
      max-height: none;
    }
  }

  .msg {
    font-size: 18px;
  }

  span.icon-file {
    display: flex;
    align-items: center;

    img.audio-image {
      content: url('/plugins/denouncements/images/audio.png');
    }

    .video-image {
      content: url('/plugins/denouncements/images/video.png');
    }

    .undefined-image {
      content: url('/plugins/denouncements/images/file.png');
    }
  }
}

#offender-step {
  .identification-field {
    margin-bottom: 30px;
  }
}

#confirmation-step {
  p.msg {
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0 5px;
    color: #505050;
    font-style: italic;
  }

  .section-header {
    border-bottom: 1px solid #ccc;
    margin: 20px 0 10px;
    padding: 0 5px;
    display: flex;
    align-items: flex-end;

    span.section-name {
      font-size: 18px;
      flex-grow: 1;
    }

    .edit-section {
      color: #505050;
      font-size: 18px;
    }
  }

  .sections {
    margin-bottom: 40px;
  }

  .section-line {
    padding: 2px 5px;
    display: flex;
    font-size: 14px;

    .field-name {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .field-value {
      flex: 4;
      @media screen and (max-width: 768px) { flex-grow: 2; word-break: break-word; }
    }
  }

  .button-bar {
    margin-top: 4em;
  }

  .offenders-list,
  .victims-list,
  .media-list {
    padding: 0 5px;

    .entry {
      display: flex;
      margin-top: 7px;

      &.template {
        display: none;
      }

      .index {
        margin-right: 10px;
        color: #777;
      }

      .info-row .info-attr {
        font-style: italic;
        color: #777;
        font-size: 14px;
      }
    }

    select {
      height: auto;
    }
  }

  .sub-section {
    margin: 20px auto;
    padding-left: 5px;

    .sub-section-name {
      font-weight: bold;
    }
  }

  .no-files-message {
    color: #777;
    font-style: italic;
  }
}

#confirmationRemove-victim,
#confirmationRemove-offender {

  .remove-confirmation-modal {
    min-height: 150px;
    max-width: 250px;
    padding: 10px;
    font-size: 16px;

    p.msg {
      text-align: center;
      font-weight: bold;
    }

    .label-info {
        font-style: italic;
        color: #777;
    }

    .actions {
      display: flex;
      justify-content: space-evenly;
      padding-top: 20px;

      a.button {
        width: 150px;
        max-height: 35px;
        height: 35px;
        line-height: 35px !important;
        padding: 0;
        text-align: center;
        background: none;
        border-radius: 5px;
        border: 1px solid #5c6e84;
        color: #5c6e84;
        box-shadow: 1px 1px 3px #777;

        &:active, &:hover {
          background-color: #5c6e84;
          color: white;
        }

        &.icon-no {
          border-color: #a76c00;
          color: #a76c00;

          &:active, &:hover {
            background-color: #a76c00;
            color: white;
          }
        }
      }
    }
  }
}

#media_files-step {

  .uploaded-list {
    margin-bottom: 50px;

    .info-row {
      display: flex;
      align-items: base-line;

      img.info-attr {
        margin-right: 5px;
      }
    }

    .image-list,
    .video-list,
    .audio-list,
    .undefined-list {
      display: none;
    }

    #uploaded-files-image {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;

      .denouncement-item {
        position: relative;
        margin-top: 20px;
        margin-right: 10px;

        &.template {
          display: none;
        }

        .info-row {
          display: flex;
          align-items: center;
        }

        div.thumbnail {
          width: 180px;
          height: 100px;
          border: solid 1px #ddd;
          box-shadow: 3px 3px 5px #ddd;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .thumbnail-remove {
          background-image: url('/images/fancybox/fancy_close.png');
          background-repeat: no-repeat;
          background-position: center;
          width: 35px;
          height: 35px;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
        }

        a.zoom-media {
          cursor: pointer;
        }
      }
    }
  }

  #media-files {
    display:none;
  }

  label[for='media-files'] {
    margin: 15px auto;
  }

  .erro-msg .duplicate-key-error {
    width: 100%;
  }

}

#show-image {
  display: none;
  max-width: 70vw;

  .main-image {
    max-width:100%;
  }
}

@media screen and (max-width: 900px) {
  #media_files-step {
    .uploaded-list {
      #uploaded-files-image {
        flex-direction: column;
        .denouncement-item {
          div.thumbnail {
            width: 100%;
            height: 150px;
            margin-right: 0;
          }
        }
      }
    }
  }
}

#google-map-identification-step, #google-map-occurrence-step {
  height: 300px;
  margin-bottom: 5px;
}

.map-wrapper {
  height: 300px;
  margin-bottom: 5px;

  &.loading {
    background-color: #aaa;
    opacity: 0.3;
    pointer-events: none;
  }
}
