<%= block_title((block.view_title +
                content_tag(:div, link_to(font_awesome(:plus), '#', class: "menu-toggle") +
                noosfero_article_dropdown_menu, class: "more")).html_safe, block.subtitle) %>
