<div id='confirmationRemove-victim' style='display: none;'>
  <div class="remove-confirmation-modal victim-modal">
    <p class='msg'>
      <%= _('Are you sure you want to remove this victim?') %>
    </p>

    <div>
      <div>
        <span class='label-info' ><%= _('Name:') %></span>
        <span class='remove-confirmation-name'></span>
      </div>
      <div>
        <span class='label-info'><%= _('Email:') %></span>
        <span class='remove-confirmation-email'></span>
      </div>
    </div>
    <div class='actions'>
      <%= button :no, _('No'), '#', id: 'no-remove-btn' %>
      <%= button :yes, _('Yes'), '#', id: 'yes-remove-btn' %>
    </div>
  </div>
</div>
